@import '../../../../variable.module.scss';
.brandInfoContainer {
  &.withChildHeight {
    height: 255px;
  }
  &.withNoChildHeight {
    height: 255px;
  }
  height: 255px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 41px 20px 35px;
  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      color: $dark1;
      font-family: Poppins;
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 34px;
    }
  }

  .detailSubContent {
    margin-top: 24px;
    width: 90%;
    h6 {
      letter-spacing: 0px;
      font-size: 18px;
      line-height: 27px;
      font-weight: 500;
      color: $dark1;
      margin: 0px;
      padding: 0px;
    }
    p {
      margin: 0px;
      padding: 0px;
      font: normal normal normal 14px/21px Poppins;
      letter-spacing: 0px;
      color: $dark1;
    }
  }

  .dateContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .dateContainer {
      > * {
        &:not(:last-child) {
          margin-right: 15px !important;
        }
      }
    }
  }
}

.Lifestyle {
  background-color: #4ea9da !important;
  margin: 5px 0px 0px 5px;
  color: #ffffff !important;
}
.Beauty {
  background-color: #5d6fd3 !important;
  margin: 5px 0px 0px 5px;
  color: #ffffff !important;
}
.Editing {
  background-color: #7b5cd9 !important;
  margin: 5px 0px 0px 5px;
  color: #ffffff !important;
}
.Fitness {
  background-color: #3481ef !important;
  margin: 5px 0px 0px 5px;
  color: #ffffff !important;
}
.Living {
  background-color: #b485c5 !important;
  margin: 5px 0px 0px 5px;
  color: #ffffff !important;
}
