@import '../../../variable.module.scss';

.compensationContainer {
	width: 391px;
	height: 412px;
	border-radius: 10px;
	background-color: $white;
	box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
	padding: 32px 41px 20px 35px;
	position: relative;

	.headerContainer {
		display: flex;
		align-items: center;
		justify-content: space-between;

		svg {
			cursor: pointer;
		}

		h1 {
			color: $dark1;
			font-family: Poppins;
			font-size: 23px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 34px;
		}
	}

	.conatianer {
		margin-bottom: 50px;

		.detailSubContent {
			margin-top: 24px;

			h6 {
				letter-spacing: 0px;
				font-size: 18px;
				line-height: 27px;
				font-weight: 500;
				color: $dark1;
				margin: 0px;
				padding: 0px;
			}

			p {
				margin: 0px;
				padding: 0px;
				font: normal normal normal 14px/21px Poppins;
				letter-spacing: 0px;
				color: $dark1;
			}

			.totalCompEstimate {
				color: #7b5cd9;
				font-family: Poppins;
				font-size: 18px;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 27px;
			}
		}
	}

	button {
		outline: none;
		border: none;
		height: 31px;
		width: 82px;
		border-radius: 100px;
		background-color: $dark1;
		color: $white;
		font-family: Poppins;
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 0px;
		text-align: center;
		position: absolute;
		bottom: 20px;
		padding: 0px;

		:focus {
			outline: none;
		}
	}
}