.displayNone {
display: none !important;
}

.inputendornment {
    cursor: pointer;
}

.errorText {
	color: red;
}
.dropDownCustomizeSvg{
	svg{
		margin-left: -33px;
		margin-right: 20px;
		margin-top: 8px;
	}
}
.errorMessage {
	color: #D55656;
	margin-left: 0 !important;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 21px;
}
.padding8{
	padding-top: 8px;
}
