@import '../../variable.module.scss';
.forgotPasswordContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 496px;
  margin-top: 35%;
  .heading {
    height: 47px;
    width: 380px;
    color: #000000;
    font-family: Poppins;
    font-size: 33px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 50px;
  }
  .des {
    color: #000000;
    font-family: Poppins;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 31px;
  }

  .actionsContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    button {
      width: 172px;
      height: 53px;
      border-radius: 25px;
      font-size: 19px;
      font-weight: 400;
      text-transform: none;

      .buttonText {
        color: #ffffff;
        font-family: Poppins;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 29px;
      }
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .forgotPasswordContainer {
      > * {
        &:not(:last-child) {
          margin-bottom: 30px !important;
        }
      }
    }
    .actionsContainer {
      > * {
        &:not(:last-child) {
          margin-right: 25px !important;
        }
      }
    }
  }
}
