@import '../../../variable.module.scss';
.addPost {
  height: 643px !important;
  width: 667px !important;
  border-radius: 20px;
  background-color: $white;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 41px 38px 38px 38px !important;

  h6 {
    color: $dark1;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 30px;
    margin: 0px !important;
    padding: 0px !important;
    margin-bottom: 29px !important;
  }

  .uploadSection {
    display: flex;
    flex-direction: row;
    gap: 71px;
    margin-top: 71px;
    .emptySection {
      height: 151px;
      width: 97px;
      border-radius: 10px;
      background-color: #e5e5e5;
    }

    .buttonSection {
      p {
        color: $dark1;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 25px;
        margin-bottom: 38px;
      }
      button {
        height: 31px;
        width: 96px;
        border-radius: 100px;
        background-color: $dark1;
        color: $white;
        font-family: Poppins;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 23px;
        outline: none;
        border: none;
        :focus {
          outline: none;
          border: none;
        }
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
    position: absolute;
    bottom: 20px;
    right: 38px;
    span {
      color: $dark1;
      font-family: Poppins;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 27px;
      cursor: pointer;
    }
    button {
      height: 52px;
      width: 241px;
      border-radius: 100px;
      background-color: $dark1;
      color: $white;
      font-family: Poppins;
      font-size: 19px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 29px;
      border: none;
      outline: none;
      :focus {
        outline: none;
      }
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .uploadSection {
      > * {
        &:not(:last-child) {
          margin-right: 71px !important;
        }
      }
    }
    .footer {
      > * {
        &:not(:last-child) {
          margin-right: 70px !important;
        }
      }
    }
  }
}
