@import '../../../variable.module.scss';

.compensationContainer {
    padding: 0px 27px 27px 40px;
    overflow-y: scroll;
    
        margin-bottom: 20px;
        h1{
            color: $dark1;
            font-family: Poppins;
            font-size: 23px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 34px;
				}
				.influencerPayment {
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					margin-top: 40px;
					h6 {
						margin: 0px;
						padding: 0px;
						margin-top: 20px;
						margin-bottom: 20px;
						color: $primary1;
						font-family: Poppins;
						font-size: 20px;
						font-weight: 600;
						letter-spacing: 0;
						line-height: 30px;
					 }
				}

        .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
				margin-top: 40px;
			
    
      h6 {
        margin: 0px;
        padding: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: $primary1;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 30px;
       }
      }
       
       .detailSubContent {
        margin-top: 20px;
        h6 {
          letter-spacing: 0px;
          font-size: 18px;
          line-height: 27px;
          font-weight: 500;
          color: $dark1;
          margin: 0px;
          padding: 0px;
        }
        p {
          margin: 0px;
          padding: 0px;
          font: normal normal normal 14px/21px Poppins;
          letter-spacing: 0px;
          color: $dark1;
        }
      }

      .detailTotalContent  {
          display: flex;
          justify-content: space-between;
          margin-top: 40px;
        h6 {
            color: $primary1;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 30px;
            margin: 0px;
            padding: 0px;
      }
    }

}
  
  