@import '../../../variable.module.scss';

.performanceContainer {
  max-height: 460px;
  height: 100%;
  width: 100%;
  max-width: 1234px;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
  padding: 32px 41px 20px 35px;
  margin-bottom: 30px;
  h1 {
    color: $dark1;
    font-family: Poppins;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 34px;
  }
  div {
    height: 307px;
    width: 1158px;
    background-color: #e6e6e6;
    margin-top: 20px;
    margin-bottom: 18px;
    p {
      color: $dark1;
      font-family: Poppins;
      font-size: 23px;
      letter-spacing: 0;
      line-height: 307px;
      text-align: center;
    }
  }
  button {
    outline: none;
    border: none;
    height: 31px;
    width: 82px;
    border-radius: 100px;
    background-color: $dark1;
    color: $white;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 0px;
    text-align: center;
    padding: 0px;
    :focus {
      outline: none;
    }
  }
}
