@import './../../../../variable.module.scss';

.mainContainer {
	span {
		color: #000000;
		font-family: Poppins;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 27px
	}

	.dateFilter {
		display: flex;

		p {
			display: flex;
			width: 300px;
			height: 100px;
			align-items: center;
			color: #000000;
			font-family: Poppins;
			font-size: 17px;
			letter-spacing: 0;
			line-height: 26px;
		}
	}




	.brandDropDown {
		margin-right: 5px !important;
		display: flex;
	}

	.brandDropDownSVG {
		margin-left: 5px;
	}

	.fomoPromoInvoiceInfoContainer {
		max-height: 811px;
		width: 1234px;
		border-radius: 10px;
		background-color: #FFFFFF;
		box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
		padding: 30px 41px 20px 35px;
		overflow-y: auto;
		margin-bottom: 25px;

		.fomoPromoInvoiceContainer {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h1 {
				color: $dark1;
				font-family: Poppins;
				font-size: 23px;
				font-weight: bold;
				letter-spacing: 0;
				line-height: 34px;
			}

			.contentContainer {
				color: #000000;
				font-family: Poppins;
				font-size: 16px;
				font-weight: 500	;
				letter-spacing: 0;
				line-height: 25px;

				.contentShare {
					width: 40px;
					margin-top: 5px;
				}

				.contentDownload {
					width: 40px;
				}

				.contentInvoice {
					width: 250px;
					text-decoration: underline;
				}

				.contentInvoiceIssue {
					display: flex;
					width: 300px;
					font-weight: 500;

					p {
						font-weight: 400;
						margin-left: .2rem;
					}
				}

				.contentAutoPayment {
					display: flex;
					width: 250px;
					font-weight: 500;
					p {
						font-weight: 400;
						margin-left: .2rem;
					}
				}

				.contentBilled {
					display: flex;
					width: 250px;
					font-weight: 500;

					p {
						font-weight: 400;
						margin-left: .2rem;
					}
				}
				.divider{
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}
		}
	}

	.collapseContentContainer {
		height: 121px;
		background: #EFEFEF;
		padding: 34px 0px 0px 25px;

		.collapseContent {
			display: flex;

			div {
				font-weight: 500;
				display: flex;
				width: 375px;
				margin-bottom: 10px;

				p {
					font-weight: 400;
					margin-left: .2rem;
				}
			}

		}
	}
}
.dropDownCustomizeSvg{
	svg{
		margin-bottom: 3px;
		margin-left: 2px;
	}
}