@import '../../../variable.module.scss';

.allSet {
	max-height: 316px;
	max-width: 813px;
	height: 316px;
	width: 813px;
	border-radius: 10px;
	background-color: #3481EF ;
	box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
	padding: 90px 53px 50px 53px;

	h1 {
		font-family: Poppins;
		color: #FFFFFF;
		font-family: Poppins;
		font-size: 35px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 53px;
		margin: 0px
	}

	.firstp {
		margin: 0px;
		color: #FFFFFF;
		font-family: Poppins;
		font-size: 20px;
		letter-spacing: 0;
		line-height: 30px;
		margin-top: 8px;

	}

	.secondp {
		color: #FFFFFF;
		font-family: Poppins;
		font-size: 20px;
		letter-spacing: 0;
		line-height: 30px;
		margin-bottom: 38px;
	}

}

.pendingContainer {
	max-height: 316px;
	max-width: 813px;
	height: 316px;
	width: 813px;
	border-radius: 10px;
	background-color: #7b5cd9;
	box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.1);
	padding: 50px 53px 50px 53px;

	h1 {
		font-family: Poppins;
		color: #FFFFFF;
		font-family: Poppins;
		font-size: 35px;
		font-weight: bold;
		letter-spacing: 0;
		line-height: 53px;
		margin: 0px
	}

	.firstp {
		margin: 0px;
		color: #FFFFFF;
		font-family: Poppins;
		font-size: 20px;
		letter-spacing: 0;
		line-height: 30px;
		margin-top: 8px;

	}

	.secondp {
		color: #FFFFFF;
		font-family: Poppins;
		font-size: 20px;
		letter-spacing: 0;
		line-height: 30px;
		margin-bottom: 38px;
	}


	button {
		outline: none;
		border: none;
		height: 44px;
		width: 210px;
		border-radius: 100px;
		background-color: #FFFFFF;
		color: #000000;
		font-family: Poppins;
		font-size: 17px;
		font-weight: 500;
		letter-spacing: 0;
		line-height: 26px;
		text-align: center;

		:focus {
			outline: none;
		}
	}
}