@import './../../../variable.module.scss';

.mainContainer {
  max-width: 1250px;
  margin: auto;

  .accountHistoryHeadingContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .accountHistoryHeading {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 1em;

    span {
      color: #000000;
      font-family: Poppins;
      font-size: 33px;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 50px;
    }
  }

  .FiltersContainer {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-bottom: 40px;

    button {
      background: transparent;
      border: none !important;
      font-size: 17px;
      line-height: 26px;
      padding: 5px 16px;
      font-family: 'Poppins Regular', sans-serif;
      cursor: pointer;
    }

    button:active,
    :focus {
      outline: none;
    }
  }

  .active {
    background-color: $dark1 !important;
    border: none !important;
    color: $white;
    padding: 8px 16px;
    border-radius: 100px;
    outline: none;
    font-family: Poppins;
    font-size: 17px !important;
    letter-spacing: 0;
    line-height: 26px;
  }

  .dateFilter {
    display: flex;

    p {
      display: flex;
      width: 300px;
      height: 100px;
      align-items: center;
      color: #000000;
      font-family: Poppins;
      font-size: 17px;
      letter-spacing: 0;
      line-height: 26px;
    }
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .accountHistoryHeading {
      > * {
        &:not(:last-child) {
          margin-right: 25px !important;
        }
      }
    }
    .FiltersContainer {
      > * {
        &:not(:last-child) {
          margin-right: 50px !important;
        }
      }
    }
  }
}
